span.error {
    display: block;
    color: rgb(178, 64, 58);
    background: rgba(178, 64, 58, 0.2);
    padding: 6px 10px;
    border-radius: 3px;
    border: 1px solid rgb(178, 64, 58);
    margin: 4px 0;
}

form {
    margin-bottom: 20px;
}

form fieldset {
    padding: 0;
    border: none;
    outline: none;
    margin: 0 0 10px 0;
}

form fieldset ul {
    list-style: none;
    padding: 0 0 0 20px;
    margin: 0;
}

form fieldset legend,
form label {
    font-size: 0.9rem;
    margin-right: 10px;
}

form label {
    margin-bottom: 10px;
}

form fieldset legend {
    margin-bottom: 4px;
}

form label span.annotation {
    font-size: 0.8rem;
    margin-left: 4px;
    opacity: 0.6;
}

form input[type='text'],
form input[type='password'] {
    font-size: 0.8rem;
    box-sizing: border-box;
    height: 32px;
    width: 250px;
    padding: 0 10px;
    border-radius: 3px;
    border: 1px solid #CCC;
    outline: none;
}

form input[type='text'].small,
form input[type='password'].small {
    width: 60px;
}

form input[type='text'].centered,
form input[type='password'].centered {
    text-align: center;
}

form button {
    box-sizing: border-box;
    width: auto;
    height: 32px;
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 32px;
    background: #DDD;
    padding: 0 10px;
    border-radius: 3px;
    border: none;
    outline: none;
    margin-right: 6px;
    cursor: pointer;
}

form button.main {
    color: #FFF;
    background: #23888C;
}

form button:hover {
    opacity: 0.7;
}
