#siteContent .error {
    color: rgb(178, 64, 58);
    background: rgba(178, 64, 58, 0.2);
    padding: 10px;
    border-radius: 3px;
    border: 1px solid rgb(178, 64, 58);
    margin-bottom: 16px;
}

#siteContent form {
    margin-bottom: 20px;
}

#siteContent form fieldset {
    padding: 0;
    border: none;
    outline: none;
    margin: 0 0 10px 0;
}

#siteContent form fieldset ul {
    list-style: none;
    padding: 0 0 0 20px;
    margin: 0;
}

#siteContent form fieldset legend,
#siteContent form label {
    font-size: 0.9rem;
    margin-right: 10px;
}

#siteContent form label {
    margin-bottom: 10px;
}

#siteContent form fieldset legend {
    margin-bottom: 4px;
}

#siteContent form label span.annotation {
    font-size: 0.8rem;
    margin-left: 4px;
    opacity: 0.6;
}

#siteContent form input[type='text'] {
    font-size: 0.8rem;
    box-sizing: border-box;
    height: 32px;
    width: 250px;
    padding: 0 10px;
    border-radius: 3px;
    border: 1px solid #CCC;
    outline: none;
}

#siteContent form input[type='text'].small {
    width: 60px;
}

#siteContent form input[type='text'].centered {
    text-align: center;
}

#siteContent form button {
    box-sizing: border-box;
    width: auto;
    height: 32px;
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 32px;
    background: #DDD;
    padding: 0 10px;
    border-radius: 3px;
    border: none;
    outline: none;
    margin-right: 6px;
    cursor: pointer;
}

#siteContent form button.main {
    color: #FFF;
    background: #23888C;
}

#siteContent form button:hover {
    opacity: 0.7;
}
