.form-login {
    width: 300px;
    margin: 0 auto;
}

.form-login label {
    display: block;
    margin-right: 0;
    margin-bottom: 6px;
}

.form-login label span {
    font-size: 13px;
}

.form-login label input[type='text'],
.form-login label input[type='password'] {
    display: block;
    width: 100%;
}
